/* Global Resets */
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 1em;
  height: 100%;
}

body {
  font-size: 100%;
  font-family: sans-serif;
}

/* layout */
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.p-1 {
  padding: 1em;
}

.m-1 {
  margin: 1em;
}

.mt-1 {
  margin-top: 1em;
}

.mb-1 {
  margin-bottom: 1em;
}

/* animations  */
@keyframes growOut {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/* Naviagtion Menu */
.navigation-menu {
  width: 100%;
}

.navigation-menu ul {
  list-style-type: none;
}

.navigation-menu__parent-node-container {
  display: flex;
}

.navigation-menu__item {
  padding: 1em;
  background-color: mediumorchid;
  border: 1px solid mediumpurple;
  display: block;
  color: white;
  text-decoration: none;
}

.navigation-menu__item:hover, .navigation-menu__item:active {
  background-color: blueviolet;
}

.navigation-menu__child-node-container {
  display: none;
  position: absolute;

  animation: growOut 300ms ease-in-out forwards;
  transform-origin: top center;
}

/* sticky footer */
footer {
  grid-row-start: 3;
  grid-row-end: 4;
  background: mediumvioletred;
  padding: 1em;
  color: whitesmoke;
}
